html {
    font-size: 18px;
    font-family: comicsans;
}

body {
    margin: 0;
}

div,
main {
    display: flex;
}

@font-face {
    font-family: 'tokifont';
    src: url('fonts/sitelenselikiwenasuki.ttf');
}

@font-face {
    font-family: 'comicsans';
    src: url('fonts/Comic Sans MS.ttf');
}

#container {
    flex-direction: column;
    align-items: center;
    background-image: linear-gradient(#2c1142, #150620);
    color: white;
    text-shadow: 5px 5px 5px #000000;
}

header {
    display: flex;
    flex-direction: row;
}

header img {
    width: 3rem;
}

header h1 {
    margin: 1rem;
}

nav {
    display: flex;
    width: 80rem;
    justify-content: space-between;
    margin-bottom: 1rem;
    background-color: #68269e;
}

nav button {
    background-color: #68269e;
    padding: 1rem;
    width: 20rem;
    border: none;
    transition: 0.3s cubic-bezier(0.34, 1.56, 0.64, 1);
    color: white;
}

nav button:hover:enabled {
    background-color: #c08beb;
    width: 30rem;
    transition: 0.3s cubic-bezier(0.34, 1.56, 0.64, 1);
    cursor: pointer;
}

nav button:disabled {
    background-color: #0f0418;
}

.navoptions {
    background-color: #68269e;
    padding: 1rem;
    display: none;
}

.navoptions select,
.navoptions button,
.navoptions a,
.navoptions input {
    margin: .25rem;
    border: none;
    font-family: Comic Sans MS;
}

.navoptions select,
.navoptions button,
.navoptions input {
    background-color: #c08beb;
}

#lists {
    width: 90rem;
    flex-direction: row;
    justify-content: space-between;
}

#minor,
#other {
    width: 25rem;
    flex-direction: column;
}

#minor img {
    width: 10rem;
}

#totalstats a:nth-child(5n-2) {
    margin-bottom: 1rem;
}

#mainlist {
    width: 40rem;
    align-items: center;
    flex-direction: column;
    border-left: 1px lightgray solid;
    border-right: 1px lightgray solid;
}

#mainlist .level {
    background-size: cover;
    background-position: center;
    margin: .5rem;
    padding: .75rem;
    width: 35rem;
    height: 2.5rem;
    overflow: hidden;

    .generalstats,
    .difficulty,
    .timestats,
    .nlw {
        opacity: 0;
        display: none;
    }

    user-select: none;
}

#mainlist .level.active {
    height: 10rem;

    .info {
        margin-top: 1rem;
        flex-direction: column;
    }

    .timestats {
        margin-top: 1rem;
    }

    font-size: 0.9rem;

    .generalstats,
    .difficulty,
    .timestats,
    .nlw {
        opacity: 1;
        display: block;
        transition-delay: 2s;
    }
}

#mainlist .level:hover,
#inprogress .level:hover {
    cursor: pointer;
}

#other,
#other h3 {
    padding-left: .5rem;
}

#other .level {
    margin: .5rem;
    padding: .75rem;
    width: 22rem;
    height: 1.5rem;
    background-size: cover;
    background-position: center;
    justify-content: center;
    overflow: hidden;
    flex-direction: column;
    user-select: none;

    .otherruns {
        display: none;
    }
}

#inprogress .level.active {
    height: 3rem;

    .otherinfo {
        margin-bottom: .5rem;
    }

    .otherruns {
        display: flex;
    }
}

.rank {
    flex-direction: column;
}

.placement,
#mainlist .levelname {
    margin: 0;
    font-size: 1.5rem;
}

.rank a,
.info a {
    margin: 0;
    font-size: .6rem;
}

.rank {
    width: 5rem;
    text-align: center;
    justify-content: center;
}

.info {
    width: 100%;
    margin-left: 2rem;
}

.placement {
    margin-bottom: .25rem;
}

.difficulty {
    margin-bottom: 1rem;
    width: 5rem;
}

.stats {
    flex-direction: row;
    margin-top: .75rem;
    height: 100%;
}

.generalstats {
    width: 40%;
    flex-direction: column;
}

.timestats {
    width: 60%;
    flex-direction: column;
    text-align: right;
    justify-content: flex-end;
    margin-left: .75rem;
}

.playtime,
.gdtime,
.aredltime,
.date {
    justify-content: flex-end;
}

.levelname.toki {
    width: 300%;
}

.toki {
    font-family: 'tokifont';
}

#inprogress,
#bucketlist,
#upcoming {
    flex-direction: column;
}

.tokiaredl {
    width: 80%;
    display: flex;
}

.level {
    color: white;
    border: white 2px solid;
    box-shadow: 5px 5px 5px #000000;
    ;
    border-radius: .5rem;
}

.otherinfo {
    display: flex;
    flex-direction: row;
    align-items: center;
}

@media (max-width: 1620px) {
    #lists {
        width: 100%;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    nav {
        display: flex;
        width: 100vw;
        justify-content: space-between;
        margin-bottom: 1rem;
    }

    nav button {
        padding: 1rem;
        width: 25vw;
        border: none;
        transition: 0.3s cubic-bezier(0.34, 1.56, 0.64, 1);
    }

    nav button:hover {
        width: 35vw;
        transition: 0.3s cubic-bezier(0.34, 1.56, 0.64, 1);
    }

    #minor,
    #mainlist,
    #other {
        display: flexbox;
        width: 100vw;
        align-items: center;
        justify-content: center;
        margin-bottom: 5rem;
    }

    #minor {
        order: 2;
    }

    #mainlist {
        border: none;
    }
}

@media (max-width: 680px) {
    html {
        font-size: 12px;
    }

    #mainlist .level {
        margin: .5rem;
        width: 35rem;
    }

    .rank a {
        width: 5rem;
    }

    #totalstats,
    #other {
        font-size: 1.5rem;
    }

    #other .level {
        width: 30rem;
        height: 3rem;
    }

    #inprogress .level.active {
        height: 4.5rem;
    }
}

@media (max-width: 450px) {

    html{
        font-size: 8px;
    }

    nav{
        width: 100%;
    }

    nav button{
        width: 20vw;
        font-size: 1rem;
    }

    #mainlist .level {
        margin: .5rem;
        width: 90vw;
    }

    .rank a {
        width: 5rem;
    }

    #totalstats,
    #other {
        font-size: 1.5rem;
    }

    #other .level {
        width: 85vw;
        height: 3rem;
    }

    #inprogress .level.active {
        height: 4.5rem;
    }

    #changelog{
        width: 90vw;
    }
}


#loader {
    width: 100vw;
    height: 100vh;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#loader img {
    animation: spin 1s linear infinite;
    width: 20%;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

#totalstats,
#changelog {
    flex-direction: column;
}

#changelog {
    margin-top: 1rem;
}

#changelog a {
    margin-bottom: .5rem;
}

#upcoming h4{
    margin: .5rem;
}